<div class="container">
  <div class="jumbotron">
    <h1 class="display-6">Movimentação</h1>
    <p class="lead-1">Lista das movimentações</p>
    <hr class="my-2">
    <div class="input-group">
      <label for="iCorrentista">.</label>
      <!-- buscar por correntista -->
      <select  id="iCorrentista" [(ngModel)]="correntista" class="form-select">
        <option *ngFor="let c of correntistas" [ngValue]="c" >{{c.cpf}}-{{c.nome}}</option>
      </select>

      <!-- botão buscar que lista todas as movimentações por ID da conta -->
      <button class="btn btn-outline-secondary me-md-2 btn-sm" type="button" (click)="listMovimentacoes()">Buscar</button>
      <div class="d-grid gap-2 d-md-flex"> <!-- deixa um espaço entre os botões -->
        <a class="btn btn-outline-primary btn-sm" routerLink="/movimentacao-new">Nova Movimentação</a>
        <a class="btn btn-outline-primary btn-sm" routerLink="/correntistas">Correntistas</a></div>
      </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Data Hora</th>
          <th scope="col">Descrição</th>
          <th scope="col">Valor</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of movimentacoes; index as i">
          <th scope="row">{{ i + 1}}</th>
          <td> {{ item.hora }}</td>
          <td> {{ item.descricao}}</td>
          <td [ngStyle]="{'color':item.tipo=== 'RECEITA' ? 'blue' : 'red'}"> {{ item.valor }}</td>
          <td> {{ item.tipo}}</td>
        </tr>
      </tbody>
    </table>

</div>
</div>

